//Select Section
.select-section{
    padding: 5em 2em;
    font-weight: 300;

    .select-info-container{
        padding: 1.5em;
        justify-content: space-between;
        border: 1px solid black;
        @media all and (max-width:945px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .select-left{
                width: 80%;
            }
            .select-right{
                order: -1;
                width: 80%;
            }
        }
      
    }
    .select-left,.select-right{
        padding: 1em;
    }
    .consequat,.feugiat{
        display: none;
    }
    .selected-btn{
        background: #ffc600;
    }
    .select-title{
        margin-bottom: 1.5em;
    }
    .select-content{
        font-size: 0.85rem;
        margin-bottom: 2.5em;
    }
    button{
        @extend .btn;
        border: 1px solid black;
        border-bottom: 0;
        border-radius: 0;
        display: inline-block;
        padding:1.5em 2.5em;
        outline: 0;
        background: #f5f5f5;
        @media all and (max-width:420px){
            padding: 1em 1.25em;
            font-size: 0.85rem;
        }
    }
    button:nth-child(2){
        border-left: 0;
        border-right: 0;
    }
    .select-left,.select-right{
        width: 50%;
    }
    .btn-learn{
        @extend .btn;
        border: 1px solid black;
    }
    .select-image img{
        width: 100%;
        object-fit: cover;
    }
    // .select-buttons{
    //     padding: 0 0.2em;
    // }
    .btn-aliquam{
        background: $white;
        // transform: scale(1.06);
    }

}
