/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 18px;
}
@media all and (max-width: 545px) {
  html {
    font-size: 12px;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.btn, .contact-section .contact-right .btn-send, .quarternary-section .btn-learn, .select-section .btn-learn, .select-section button, .hero-section .hero-container .btn-started {
  background: transparent;
  border-radius: 0.4em;
  padding: 1em 3em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.btn:hover, .contact-section .contact-right .btn-send:hover, .quarternary-section .btn-learn:hover, .select-section .btn-learn:hover, .select-section button:hover, .hero-section .hero-container .btn-started:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

img {
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font: 1.2rem;
}

.header {
  background: transparent;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.header .nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
}
.header .nav .nav-item {
  margin-left: 1.5em;
}
.header .nav .logo {
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.header .nav .logo-span {
  padding-right: 1em;
  font-size: 1.25rem;
}
.header .nav .site-span {
  padding-left: 0.75rem;
}
.header .nav .line {
  display: inline-block;
  border-left: 1px solid #fff;
  opacity: 0.75;
  height: 1.5rem;
}
.header .nav .fa-chevron-down {
  font-size: 0.75rem;
}
@media all and (max-width: 1000px) {
  .header .nav .nav-menu {
    display: none;
  }
}
.header a {
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
}
.header .nav-item:nth-child(2) {
  position: relative;
}
.header .nav-item:nth-child(2):hover > .dropdown-menu {
  display: block;
}
.header .dropdown-menu {
  top: 125%;
  position: absolute;
  background: #fff;
  padding: 0.2em 0;
  z-index: 4;
  display: none;
}
.header .dropdown-menu .arrow {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  top: -10px;
  transform: translateX(120%) rotate(45deg);
}
.header .dropdown-menu a {
  color: #a8a8a8;
  display: inline-block;
  padding: 0.2em 2em;
}
.header .dropdown-menu a:hover {
  color: #F28F85;
}
.header .dropdown-menu li {
  width: 80px;
}
.header .bars, .header .toggle {
  display: none;
}
@media all and (max-width: 1000px) {
  .header .bars {
    display: block;
    color: #fff;
    font-size: 24px;
    z-index: 99;
  }
  .header .toggle:checked ~ .nav-menu {
    display: block;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(242, 143, 133, 0.95);
    font-weight: 700;
  }
  .header .toggle:checked ~ .nav-menu .nav-item {
    margin: 1em 0;
    font-size: 2rem;
  }
}

.hero-section {
  background-image: url("../media/pic01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.5em 0 5em;
  border-top: 10px solid #F28F85;
}
.hero-section .hero-container {
  color: #fff;
  max-width: 645px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1000px) {
  .hero-section .hero-container {
    padding: 0 2em;
  }
}
.hero-section .hero-container h1 {
  letter-spacing: 1.35px;
  margin-top: 0.8em;
  font-weight: 300;
  font-size: 2.5rem;
}
.hero-section .hero-container .hero-laptop {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-container .hero-laptop .fa-laptop {
  color: #F28F85;
  display: inline-block;
  font-size: 2rem;
}
.hero-section .hero-container .white-line {
  border-bottom: 1px solid #fff;
  opacity: 0.6;
  padding: 1em 0;
  width: 100%;
  margin-bottom: 2.8em;
}
.hero-section .hero-container .btn-started {
  border: 1px solid #fff;
  color: #fff;
}

.primary-container {
  padding: 5.5em 0;
  justify-content: space-between;
  font-weight: 300;
  color: grey;
}
.primary-container .primary-left {
  width: 30%;
}
.primary-container .primary-right {
  width: 60%;
}
.primary-container .primary-image-div {
  border-radius: 0.5em;
}
.primary-container img {
  object-fit: cover;
  border-radius: 0.25em;
}
.primary-container h2 {
  margin-bottom: 2em;
  margin-top: 1.25em;
}
.primary-container .primary-right-info-container {
  flex-wrap: wrap;
}
.primary-container .primary-right-info-container .info {
  width: 50%;
  padding: 1.25em;
  font-size: 0.9rem;
}
.primary-container .primary-right-info-container h3, .primary-container .primary-right-info-container .info-icon {
  color: #F28F85;
}
.primary-container .primary-right-info-container .info-icon {
  font-size: 1.25rem;
}
.primary-container .primary-right-info-container .info1 {
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}
.primary-container .primary-right-info-container .info2 {
  border-bottom: 1px solid #a8a8a8;
}
.primary-container .primary-right-info-container .info3 {
  border-right: 1px solid #a8a8a8;
}
.primary-container .primary-right-info-container .info-icon {
  margin-right: 1em;
}
@media all and (max-width: 1000px) {
  .primary-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .primary-container .primary-right-heading {
    text-align: center;
  }
  .primary-container .primary-left {
    width: 90%;
    order: 2;
    text-align: center;
  }
  .primary-container .primary-right {
    width: 90%;
  }
  .primary-container .primary-right-info-container .info {
    padding: 2em;
  }
}
@media all and (max-width: 1000px) and (max-width: 545px) {
  .primary-container .primary-right-info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .primary-container .primary-right-info-container .info1, .primary-container .primary-right-info-container .info3 {
    border-right: 0;
  }
  .primary-container .primary-right-info-container .info {
    border-bottom: 1px solid #a8a8a8;
    width: 85%;
  }
  .primary-container .primary-right-info-container .info:last-child {
    border-bottom: 0;
  }
}
@media all and (max-width: 1000px) {
  .primary-container .primary-image-div img {
    margin: 2.5em 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}

.secondary-section {
  background: #F28F85;
  color: #fff;
  text-align: center;
  padding: 5em 0;
}
.secondary-section .secondary-container {
  justify-content: space-around;
  flex-wrap: wrap;
}
@media all and (max-width: 1000px) {
  .secondary-section .secondary-container {
    width: 90%;
  }
  .secondary-section .secondary-container .secondary-info-1 {
    border-bottom: 1px solid #fff;
  }
  .secondary-section .secondary-container .secondary-info-2 {
    border-bottom: 1px solid #fff;
  }
}
@media all and (max-width: 1000px) and (max-width: 545px) {
  .secondary-section .secondary-container {
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: center;
  }
}
.secondary-section .secondary-container .secondary-info {
  width: 25%;
  padding: 0 1.5em;
}
@media all and (max-width: 1000px) {
  .secondary-section .secondary-container .secondary-info {
    padding: 1em;
  }
}
.secondary-section .secondary-container .secondary-info-1, .secondary-section .secondary-container .secondary-info-2, .secondary-section .secondary-container .secondary-info-3 {
  border-right: 1px solid #e6e5e5;
}
.secondary-section .secondary-container .secondary-info-num, .secondary-section .secondary-container .secondary-info-title {
  font-weight: 300;
}
.secondary-section .secondary-container .secondary-info-num {
  font-size: 3rem;
}
.secondary-section .secondary-container .secondary-info-title {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}
.secondary-section .secondary-container .secondary-info-content {
  font-size: 0.8rem;
  font-weight: 300;
}
@media all and (max-width: 1000px) {
  .secondary-section .secondary-container .secondary-info-2 {
    border-right: 0;
  }
}
@media all and (max-width: 1000px) {
  .secondary-section .secondary-container .secondary-info {
    width: 50%;
  }
}
@media all and (max-width: 545px) {
  .secondary-section .secondary-container .secondary-info {
    border-right: 0;
    border-bottom: 1px solid #ebe3e3;
    width: 100%;
  }
}
@media all and (max-width: 545px) {
  .secondary-section .secondary-container .secondary-info:last-child {
    border-right: 0;
    border-bottom: 0;
  }
}

.select-section {
  padding: 5em 2em;
  font-weight: 300;
}
.select-section .select-info-container {
  padding: 1.5em;
  justify-content: space-between;
  border: 1px solid black;
}
@media all and (max-width: 945px) {
  .select-section .select-info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .select-section .select-info-container .select-left {
    width: 80%;
  }
  .select-section .select-info-container .select-right {
    order: -1;
    width: 80%;
  }
}
.select-section .select-left, .select-section .select-right {
  padding: 1em;
}
.select-section .consequat, .select-section .feugiat {
  display: none;
}
.select-section .selected-btn {
  background: #ffc600;
}
.select-section .select-title {
  margin-bottom: 1.5em;
}
.select-section .select-content {
  font-size: 0.85rem;
  margin-bottom: 2.5em;
}
.select-section button {
  border: 1px solid black;
  border-bottom: 0;
  border-radius: 0;
  display: inline-block;
  padding: 1.5em 2.5em;
  outline: 0;
  background: #f5f5f5;
}
@media all and (max-width: 420px) {
  .select-section button {
    padding: 1em 1.25em;
    font-size: 0.85rem;
  }
}
.select-section button:nth-child(2) {
  border-left: 0;
  border-right: 0;
}
.select-section .select-left, .select-section .select-right {
  width: 50%;
}
.select-section .btn-learn {
  border: 1px solid black;
}
.select-section .select-image img {
  width: 100%;
  object-fit: cover;
}

.tertiary-section {
  text-align: center;
  color: #fff;
}
.tertiary-section .tertiary-left, .tertiary-section .tertiary-right {
  padding: 7em 5em;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tertiary-section .tertiary-left {
  background: url("../media/pic03.jpg");
  background-repeat: no-repeat;
}
.tertiary-section .quotes {
  display: inline-block;
}
.tertiary-section .tertiary-quotes {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #F28F85;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.tertiary-section .tertiary-title {
  margin-top: 0.75em;
  margin-bottom: 1em;
}
.tertiary-section .tertiary-name {
  color: #F28F85;
  font-weight: 500;
}
.tertiary-section .tertiary-note {
  font-size: 0.85rem;
  font-weight: 300;
}
.tertiary-section .tertiary-right {
  background: url("../media/pic04.jpg");
  background-repeat: no-repeat;
}
@media all and (max-width: 595px) {
  .tertiary-section .tertiary-right {
    margin-top: -40px;
  }
}
.tertiary-section h2 {
  font-size: 1.75rem;
  font-weight: 300;
}
@media all and (max-width: 1000px) {
  .tertiary-section {
    flex-direction: column;
  }
  .tertiary-section .tertiary-left, .tertiary-section .tertiary-right {
    width: 100%;
  }
  .tertiary-section .tertiary-right {
    margin-top: -30px;
  }
}

.quarternary-section {
  padding: 6em 0;
  font-weight: 300;
}
.quarternary-section .quarternary-container {
  justify-content: space-between;
}
@media all and (max-width: 1000px) {
  .quarternary-section .quarternary-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quarternary-section .quarternary-container .quarternary-left, .quarternary-section .quarternary-container .quarternary-right {
    width: 90%;
  }
}
.quarternary-section .quarternary-left, .quarternary-section .quarternary-right {
  width: 47.5%;
}
.quarternary-section h2 {
  margin-bottom: 1.5em;
}
.quarternary-section .quarternary-image {
  border-radius: 0.5em;
  width: 100%;
}
.quarternary-section .quarternary-content {
  margin: 1em 0;
}
.quarternary-section .btn-learn {
  border: 1px solid black;
}
.quarternary-section .quarternary-right .progress-line-holder {
  position: relative;
  margin-top: 1.25em;
}
.quarternary-section .quarternary-right .black-line, .quarternary-section .quarternary-right .red-line {
  border-top: 1px solid black;
  position: absolute;
  width: 100%;
}
.quarternary-section .quarternary-right .red-line {
  border-top: 1px solid orangered;
  width: 60%;
}
.quarternary-section .quarternary-right .progress {
  margin: 1.25em 0;
}
.quarternary-section .quarternary-right .progress-percent {
  padding-top: 0.25rem;
  font-size: 0.85rem;
}
.quarternary-section .quarternary-right .progress-30 {
  width: 30%;
}
.quarternary-section .quarternary-right .progress-70 {
  width: 70%;
}
.quarternary-section .quarternary-right .progress-40 {
  width: 40%;
}
.quarternary-section .quarternary-right .progress-50 {
  width: 50%;
}
.quarternary-section .quarternary-right .progress-60 {
  width: 60%;
}

.contact-section {
  background: #F28F85;
  padding: 4em 0;
  color: #fff;
}
.contact-section .contact-container {
  justify-content: space-between;
}
@media all and (max-width: 1000px) {
  .contact-section .contact-container {
    flex-direction: column;
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.contact-section .contact-container .contact-left {
  width: 25%;
}
@media all and (max-width: 545px) {
  .contact-section .contact-container .contact-left {
    width: 50%;
  }
}
@media all and (max-width: 545px) {
  .contact-section .contact-container .contact-right {
    margin-top: 1.5em;
    width: 100%;
  }
}
.contact-section h2 {
  margin-bottom: 1.5em;
}
.contact-section .contact-left {
  width: 25%;
}
@media all and (max-width: 1000px) {
  .contact-section .contact-left {
    width: 70%;
  }
}
.contact-section li {
  display: flex;
  margin-bottom: 1em;
}
.contact-section span {
  display: inline-block;
}
.contact-section .contact-icon {
  margin-right: 1em;
}
.contact-section .contact-content {
  font-weight: 300;
  font-size: 0.9rem;
}
.contact-section a {
  color: white;
}
.contact-section .social-menu-icons {
  justify-content: space-between;
  margin-top: 1.5em;
}
.contact-section .social-icons {
  display: inline-block;
  padding: 0.5em 0.75em;
  border: 1px solid #fff;
}
.contact-section .social-icons:hover {
  background: rgba(255, 255, 255, 0.2);
}
.contact-section .contact-right {
  width: 70%;
}
.contact-section .contact-right .contact-inputs {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 545px) {
  .contact-section .contact-right .contact-inputs {
    flex-direction: column;
  }
  .contact-section .contact-right .contact-inputs input {
    width: 100%;
  }
}
.contact-section .contact-right .contact-name, .contact-section .contact-right .contact-email, .contact-section .contact-right .contact-message {
  background: #F28F85;
  border: 0.5px solid #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 0.75em 1em;
  border-radius: 0.25em;
  outline: 0;
}
.contact-section .contact-right .contact-name, .contact-section .contact-right .contact-email {
  display: inline-block;
  width: 48%;
  margin-bottom: 1em;
}
.contact-section .contact-right .contact-message {
  width: 100%;
  resize: none;
}
.contact-section .contact-right .btn-send {
  border: 0.75px solid #fff;
  color: #fff;
  margin-top: 2em;
}
.contact-section .horizontal-line {
  margin-top: 3.75em;
  border: 0.5px solid #e4e1e1;
}
@media all and (max-width: 1000px) {
  .contact-section .horizontal-line {
    width: 90%;
  }
}
.contact-section .footer {
  text-align: center;
  font-weight: 100;
  font-size: 0.8rem;
  margin-top: 1rem;
}
@media all and (max-width: 1000px) {
  .contact-section .contact-left {
    width: 40%;
  }
  .contact-section .contact-right {
    width: 100%;
  }
}

.background-orange {
  background: #F28F85;
  transition: all 0.35s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
